<ion-item>
  
  <ion-thumbnail  class="imagen" slot="start">
    <ion-img *ngIf="!nails.image" src="/assets/icon_menu/nails.png"></ion-img>
    <ion-img *ngIf="nails.image" [src]="nails.image"></ion-img>
  </ion-thumbnail >

  <ion-label>{{nails.name | titlecase}} <p>{{nails.price | currency: 'EUR'}}</p> </ion-label>
  
  <ion-button (click)="onEditClick()" fill="clear" color="success" slot="end">
    <ion-icon name="create-sharp"></ion-icon>
  </ion-button>

  <ion-button (click)="onDeleteClick()" fill="clear" color="danger">
    <ion-icon name="trash-sharp"></ion-icon>
  </ion-button>

</ion-item>