<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom"> 

      <ion-tab-button tab="hairdressing">
        <ion-icon name="cut-sharp"></ion-icon>
        <ion-label>{{'menu.hairDressing' | translate}}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="nails">
        <ion-icon name="cut-sharp"></ion-icon>
        <ion-label>{{'menu.nails' | translate}}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon name="home-sharp"></ion-icon>
        <ion-label>{{'menu.home' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="makeup">
        <ion-icon name="cut-sharp"></ion-icon>
        <ion-label>{{'menu.makeup' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="appointments">
        <ion-icon name="calendar-sharp"></ion-icon>
        <ion-label>{{'menu.appointments' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about-me">
        <ion-icon name="person-sharp"></ion-icon>
        <ion-label>{{'menu.aboutme' | translate}}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
