<ion-header>
  <ion-toolbar>
    <ion-title>{{(mode=="New"?"nails.addNails":"nails.modifyNails") | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">{{'form.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">{{'form.name' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'form.enterName' | translate}}" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'form.price' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'form.enterPrice' | translate}}" formControlName="price"></ion-input>
    </ion-item>

    <ion-button [disabled]="!form.valid" type="submit">{{(mode=="New"?"form.add":"form.modify") | translate}}</ion-button>
  </form>
</ion-content>