<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/icon_menu/HairStyle4.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptns">
    <ion-slide *ngFor="let option of getSalonOptions()">
      <ion-button class="ion-activatable ripple-parent circle" color="light" (click)="onNewItem()">
        <img src="{{option.image}}"/>
      </ion-button>
      <ion-label>{{option.name}}</ion-label> 
      <!-- <ion-ripple-effect></ion-ripple-effect> -->
    </ion-slide>
    <!-- <app-hairdressing  *ngIf="item == 'Hair Dressing'"></app-hairdressing> -->
  </ion-slides>
</ion-content>

