.ripple-parent {
          position: relative;
          overflow: hidden;

          border: 1px solid #ddd;
}
.circle {
          width: 17rem;
          height: 10rem;
          border-radius: 50%;
}