ion-thumbnail {
          --size: 450px;
          --border-radius: 19px;
          margin: 8%;
}
#title {
          margin: 30%;
          font-size: 25px;
}

#description {
          margin: 5%;
          font-size: large;
}

ion-button{
          --padding-top: 25px;
          --padding-bottom: 25px;
          --border-style: solid;
          --border-height: 5px
}