<ion-header>
  <ion-toolbar>
    <ion-title>AboutMe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <!-- <img alt="Informations" src="/assets/icon_menu/Hanane.png" /> -->
  <ion-card-header>
    <ion-card-title></ion-card-title>
  </ion-card-header>

  <ion-card-content *ngFor="let info of (getInfos() | async)">
    <img src="{{info.image}}"/>
    <ion-label>{{info.name}}</ion-label>
    <ion-label>{{info.description}}</ion-label>

      <!-- <app-about-me 
      *ngFor="let about of getAboutMeInformations() | async"
      [aboutme]="about"></app-about-me> -->

  </ion-card-content>
</ion-card>

