ion-thumbnail {
          --size: 450px;
          --border-radius: 19px;
          margin: 8%;
}
#title {
          margin: 30%;
          font-size: 25px;
}

#description {
          margin: 5%;
          font-size: large;
          //padding: 5%;
}